article {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.process_wrap {
  margin-top: 0.5rem;
}

.result_wrap {
  margin-top: 1.5rem;
}

.detail_wrap {
  display: block;
  margin-top: 1.5rem;
}

.detail_wrap ul {
  list-style: none;
}

.detail_wrap ul li {
  display: -webkit-box;
  margin-top: 7px;
  -webkit-box-pack: center;
}

.detail_wrap ul li .num {
  display: block;
  width: 49%;
  margin-right: 4px;
  text-align: right;
  font-size: 18px;
  color: #424242;
}

.detail_wrap ul li .text {
  display: -webkit-box;
  font-size: 18px;
  -webkit-box-flex: 1;
  font-weight: 200;
}

.input_wrap {
  width: 100%;
}

.input_wrap input {
  color: gray;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  text-align: right;
  border: 0;
  -webkit-box-flex: 1;
  -webkit-appearance: none;
  border-radius: 0.5rem;
  padding-right: 0.5rem;
}

.input_wrap input.input {
  color: #000000;
  background-color: #f5ecbc;
}

.input_wrap input.output {
  color: #db4242;
  background-color: #f5ecbc;
}

.select_wrap {
  width: 100%;
  height: 27px;
  text-align: right;
}

.select_wrap select {
  float: right;
  height: 27px;
  font-size: 20px;
  color: #8f8f8f;
  border: 0;
  font-weight: 200;
  line-height: 27px;
}

.output_wrap {
  width: 100%;
}

.output_wrap input {
  color: gray;
  width: 100%;
}

article .func_wrap {
  width: 100%;
  text-align: right;
}

article .func_wrap button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
