.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
}

.header .title_wrap {
  position: relative;
  height: 50px;
}

.header .main_nav_toggle {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 24px;
  color: #000000;
  display: none;
}

.header .title_wrap i {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 10px;
}

.header .title_wrap .title {
  display: inline-block;
  margin-left: 35px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .header .main_nav_toggle {
    display: block;
  }
}
